<p id="notice"><%= notice %></p>
<h1>Profile Page:</h1>
<div>
<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
</div>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
  <br>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<div>
  <h2>My Projects:</h2>
  <% @user.projects.each do |project| %> 
  Project Title: <%= project.title %> <br>
  <% end %>
</div>
<br>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
