<%= form_for @project, html: { multipart: true} do |f| %>

  <div class="field">
    <%= f.label "Project Title" %> <br>
    <%= f.text_field :title %>
  </div>

  <label>Category:</label> <br>
  <%= collection_select(:project, :category_id, Category.all, :project_id, :category_name, :prompt => 'Select One')  %>

  <div class="field">
    <%= f.label :description %> <br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :image %>
  </div>
   
  <div class="action">
    <%= f.submit %>
  </div>


<% end %>