<h1>Projects#index</h1>

<%= link_to "Add a New Project", new_project_path, class: "button" %>
<br>
<br>
  
  <div class="wrapper">
    <% @projects.each do |project| %>
      <div class="pin">
        <%= link_to image_tag(project.image_url(:thumb)), "/projects/#{project.id}" %>
        <li><%= link_to project.title, "/projects/#{project.id}" %></li> <br>
        <%= project.description %> <br>
        <%= project.goal %>  <br>
        <%= project.start_date %> <br>
        <%= project.end_date %> <br>
      </div>

    <% end %>
  </div>
